<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883016729268-te1gqudtj6v1lpm4v4qjn3641s9fo1nl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883016729268-te1gqudtj6v1lpm4v4qjn3641s9fo1nl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>883016729268-lkn8j4s2vhtm63781iijvpfuufg0ft4n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAn7XeFnskP9cc95Lh1zM5IktL0RBcfuQg</string>
	<key>GCM_SENDER_ID</key>
	<string>883016729268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.allycall</string>
	<key>PROJECT_ID</key>
	<string>allycall</string>
	<key>STORAGE_BUCKET</key>
	<string>allycall.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883016729268:ios:637120bffc41d4bcd90de1</string>
</dict>
</plist>